<h1>domynic list</h1>
<div class="views-element-container contextual-region">
    <div class="view-content">
        <div class="views-view-grid horizontal cols-4 clearfix">
            <div class="views-row clearfix row-1">
                {% if nodes %}
                    {% for node in nodes %}
                        <div class="views-col col-1" style="width: 25%; float: left;">
                            <div class="views-field views-field-field-image">
                                <div class="field-content">
                                    <img src="{{ node.image }}" width="100" height="100" alt="{{ node.alt }}" typeof="foaf:Image" class="image-style-thumbnail">
                                </div>
                            </div>
                            <div class="views-field views-field-title"><span class="field-content"><a href="{{ node.url }}" hreflang="en">{{ node.name }}</a></span></div>
                            <div class="views-field views-field-field-birth"><div class="field-content">{{ node.birth }}</div></div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>